.gradient-custom {
    background: linear-gradient(
      #F3D32A,
      #E1CE6C,
      rgba(245, 244, 233, 0)
    );
  }

.navbar {
    background-color: #F3D32A;
}
.navbar .container-fluid {
    justify-content: flex-end; /* Mengatur posisi elemen ke kanan */
    align-items: center; /* Mengatur posisi vertikal elemen ke tengah */
    padding-top: 1rem; /* Menambahkan ruang di atas navbar */
    padding-left: 2rem;
    color: black;
}
.search-bar {
    flex-grow: 1; /* Membuat input pencarian mengisi semua ruang yang tersedia */   
    margin-right: 1rem; /* Menambahkan jarak ke kanan dari elemen sebelumnya (input) */
}
.profile {
    margin-right: 1rem; /* Menambahkan jarak dari elemen sebelah kanan */
}
.nav-item {
    margin-left: 1em;
    margin-top: 0.6em;
}
.nav-link {
    color: #363333;
}
.info-container {
    background: #ffffffc0;
    width: 90%;
    height: 40%;
    flex-shrink: 0;
    border-radius: 0.875rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.505);
    margin: auto; /* Memusatkan elemen */
    margin-top: 0.1rem; /* Menambahkan jarak dari atas */
    color: #363333;
    font-weight: 500;
}
#uang{
    font-weight: 760;
    font-size: 130px;
    text-align: right;
}
.list {
    background-color: #ffffffc0;
    padding: 1.8em;
    box-shadow: 0 0.6em 1.2em rgba(0, 0, 0, 0.505);
    border-radius: 0.6em;
    margin-top: 4em;
}
.center {
    border: 5px solid #ffffff00;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}
.wrapper {
    width: 90%;
    font-size: 16px;
    max-width: 47em;
    margin-left: 26em;
  }
  .sub-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
  }